@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@import "_variables";

body {
  background: #393c46;
  color: rgb(207, 209, 190);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Open Sans';
}
